{% extends "base.html" %}

{% block title%}
Login
{% endblock title%}


    {% block content %}
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ login_key.as_p }}
                <button>Login</button>
        </div>
    </main>
    {% endblock content %}
