{% extends "base.html" %}

{% block title%}
    Categories
{% endblock title%}


    {% block content %}
    <main>
        <h1>Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <body>
                {% for item in categories_key %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.receipts.count }}</td>
                </tr>
                {% endfor %}
        </table>
    </main>
    {% endblock content %}
