{% extends "base.html" %}

{% block title%}
Create
{% endblock title%}


    {% block content %}
    <main>
        <div>
            <h1>Create Receipt</h1>
            <form method="post">
                {% csrf_token %}
                {{ create_key.as_p }}
                <button>Create</button>
        </div>
    </main>
    {% endblock content %}
